// *{ margin:0; padding:0; }


// body{ margin:0; padding:0; line-height:1;}

.headerbox, .listbox, .resultbox, .c-btnbox,.r-btnbox{
    button{ 
        font-family:Verdana, "돋움";
        font-size: 12px;
        height: 24px;
    }
}


// img{ border:0; }

// ul, ol{ list-style:none; }

// table{ border-spacing:0; }

// caption{ height:0; overflow:hidden; font-size:0; }

.listbox, .infobox{
    width: 100%;
    margin-bottom: 10px;
    
    &.x-sclbox{
        overflow-x: auto;
        border        : 1px solid #dddddd;
    }
    &.y-sclbox{
        height: 320px;
        overflow-y: auto;
        border        : 1px solid #dddddd;

    }
    
    select, input, textarea {
        font   : 12px Dotum, dotum, AppleGothic, sans-serif;
        color  : #333;
        padding: 0;
        margin : 0;
    }        
    select {
        height          : 24px;
        border          : 1px solid #b7b7b7;
        color           : #444444;
        vertical-align  : middle;
        border          : 1px solid #ababab;
        background-color: #fcfcfc;
    }
    
    input.ins {
        width         : 150px;
        height        : 16px;
        vertical-align: middle;
        border        : 1px solid #b7b7b7;
    }
    
    input[type="text"] {
        height       : 22px;
        padding      : 0 0 0 10px;
        line-height  : 22px;
        border-radius: 3px;
        border       : 1px solid #dddddd;
        background   : #ffffff;
        color        : #333333;
        width        : 60%;
    }
    
    button {
        font-size     : 12px;
        padding       : 2px 6px;
        border        : 1px solid #c5c5c5;
        background    : #f6f6f6;
        border-radius : 3px;
        color         : #454545;
        vertical-align: middle;
        
        
        &:hover {
            border     : 1px solid #cccccc;
            background : #ededed;
            font-weight: normal;
            color      : #2b2b2b;
        }

    }

    table {
        width          : 100%;
        font-size      : 12px;
        border-collapse: collapse;
        border         : 1px solid #000000;
    
        th, td {
            height      : 25px;
            border-left : 1px solid #000000;
            border-right: 1px solid #000000;
            
        }
    
        th{
            font-weight     : normal;
            background-color: #61686f;
            color           : #fff;
        }
        tr { 
            height       : 25px;
            border-top   : 1px solid #000000;
            border-bottom: 1px solid #000000;
        } 
        tbody{
            tr:nth-child(even) {
                text-align      : center;
                background-color: #FFFFFF;
            }
            tr:nth-child(odd) {
                text-align      : center;
                background-color: #e9e6e4;
            }
        }
        p{padding:5px; text-align-last: left;}
    } 
    
}

.pagebox{
    margin-top: 20px;
    text-align: center;
    a{
        display    : inline-block;
        min-width  : 15px;
        height     : 25px;
        padding    : 0 5px;
        line-height: 25px;
        color      : #333;
        border     : 1px solid #dde1e5;
        text-align : center;
        font-size  : 10px;
        
        &.current{
            font-weight: bold;
            color      : #2fa2bc;
        }
    }
}

.headerbox{
    position     : relative;
    margin-bottom: 10px;

    .datebox{
        margin-right: 50px;
        input[type="text"] {width: 80px;}
    }

    select {
        width           : 100px;
        height          : 24px;
        border          : 1px solid #b7b7b7;
        color           : #444444;
        vertical-align  : middle;
        border          : 1px solid #ababab;
        background-color: #fcfcfc;
        
    }

    input[type="text"] {
        width         : 200px;
        height        : 22px;
        padding       : 0 0 0 10px;
        line-height   : 22px;
        border-radius : 3px;
        border        : 1px solid #dddddd;
        background    : #ffffff;
        color         : #333333;
        vertical-align: middle;
        &[class='datepicker']{
            width: 150px;
        }
    }
    button{
        vertical-align: middle;
    }
}

.resultbox{
    margin-top: 50px;
    padding: 20px;
    border:1px solid #dedede;
    border-radius: 3px;
    background: #f6f6f6;
    table{
        width : 100%;
        border: none;
        tr,th, td{ 
            border: none;
            }
            th{text-align: right;}
            td{text-align-last: left;}
    }
    input[type="text"] {
        width         : 100%;
        height        : 22px;
        text-indent   : 10px;
        line-height   : 22px;
        border-radius : 3px;
        border        : 1px solid #dddddd;
        background    : #ffffff;
        color         : #333333;
        vertical-align: middle;
        // box-sizing: border-box;
    }
    .srchbox{
        position     : relative;
        padding-right: 50px;
        button{position: absolute;right:0;top:0}
    }
    textarea{
        width: 100%;
        height: 72px;
        line-height   : 22px;
        border-radius : 3px;
        border        : 1px solid #dddddd;
        background    : #ffffff;
        color         : #333333;
        vertical-align: middle;
        box-sizing: border-box;
        
    }
}

.addbox{
    overflow: auto;
    padding: 10px;
    height: 200px;
    margin: 10px 0;
    border        : 1px solid #dddddd;
}
.c-btnbox{margin-top: 10px;text-align: center;}
.r-btnbox{margin-top: 10px;text-align: right;}



.popupwrap {
    padding:10px;
    .tit{margin-bottom: 10px;}
    .resultbox {
        margin-bottom: 20px;
        &:first-child {
            margin-top: 0;
        }
        input{width: 100%;}
    }

    .comparebox{
        overflow: hidden;
        margin-bottom: 20px;
        dl{
            width: 48%;
            border-radius : 3px;
            border        : 1px solid #dddddd;
            color         : #333333;
            &.l-result{float:left}
            &.r-result{float:right}
            dt{

                text-align: center; 
                font-size: 16px;
                font-weight: bold;
                border-bottom        : 1px solid #dddddd;
                line-height: 30px;
                height: 30px;
                color: #fff;
                background-color: #6c757d;
            }
            dd{
                overflow: auto;
                min-height: 430px;

            }
        }

    }
}

.btn-play{
    display: inline-block;
    width: 24px;
    height: 24px;
    text-indent: -9999em;
     background: url('../SGSAS/manager4/skin/btn-play.png') 0 0 no-repeat;
}

.tac{text-align: center;}